---
import Layout from '../layouts/Layout.astro';
import ExternalLink from '../components/ExternalLink.astro';

import { series } from '../data';
import { isPublished } from '../lib/work'
---

<Layout title="作品一覧" description="作品の一覧ページ">
  <main>
    <h1>作品一覧</h1>
    { series.filter(series => Array.isArray(series.works)).map(series => <div>
      <h2>{ series.name }</h2>
      {series.description && <p>{series.description}</p>}
      {series.works!.map(work => <div>
        <p><a href={`./${work.id}/`}>{work.name}</a>{isPublished(work) ? ` (${work.publishDate!.replaceAll('-', '/')}発行)` : " (未発売)"}</p>
        { work.img && <p><a href={`./${work.id}/`}><img decoding="async" {...work.img} class="work-cover" /></a></p> }
      </div>)}
    </div>) }

    <h2>寄稿・制作協力</h2>

    <section>
      <h3>東京大学きらら同好会</h3>
      <ul>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/find-our-stars-1">#FindOurStars Vol.1</ExternalLink> 寄稿(評論「東大生猪瀬舞概念」)
            <ul>
              <li><ExternalLink href="https://yuyusuki.hatenablog.com/entry/2022/06/12/190000">全文</ExternalLink></li>
            </ul>
          </li>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/micare-1">Micare Vol.1</ExternalLink> 寄稿(評論「まちカドまぞく vs. ウクライナ語警察」)
            <ul>
              <li><ExternalLink href="https://yuyusuki.hatenablog.com/entry/2022/10/30/173000">全文</ExternalLink></li>
            </ul>
          </li>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/find-our-stars-2">#FindOurStars Vol.2</ExternalLink> 寄稿(『恋する小惑星』二次創作小説「ナナチカ探偵団と不可能な虹」「拝啓、海の向こうの空へ」)
            <ul>
              <li><ExternalLink href="https://www.pixiv.net/novel/show.php?id=18592237">「ナナチカ探偵団と不可能な虹」全文</ExternalLink></li>
              <li><ExternalLink href="https://www.pixiv.net/novel/show.php?id=16190901">「拝啓、海の向こうの空へ」全文</ExternalLink></li>
            </ul>
          </li>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/micare-2">Micare Vol.2</ExternalLink>寄稿(『初恋＊れ〜るとりっぷ』二次創作小説「初恋＊れ〜るみすてり」)</li>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/musubutabaneru">結ぶ、束ねる。</ExternalLink> 寄稿(『ぼっち・ざ・ろっく！』二次創作小説「青春コンプレックス」)</li>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/micare-2-5">Micare 2.5</ExternalLink>寄稿(『紡ぐ乙女と大正の月』レビュー)</li>
      </ul>
    </section>

    <section>
      <h3>東京大学ビジュアルノベル同好会</h3>
      <ul>
        <li>UT-ViNos vol.16 寄稿(「minoriのOPが回りすぎてヤバい。」)</li>
      </ul>
    </section>

    <section>
      <h3>サークル「京都大学艦これ同好会」</h3>
      <ul>
        <li><ExternalLink href="https://twitter.com/kukancolle/status/1687844278150836225">提督たちの航海日誌 8</ExternalLink> 寄稿(「艦これ」二次創作小説「Гангутのヘルシンキさんぽ」)</li>
      </ul>
    </section>

    <section>
      <h3>サークル「みやこそふと」</h3>
      <ul>
        <li>ノベルゲーム「<ExternalLink href="https://miyakosoft.com/products/thursdays_child/">電子カルテと木曜日</ExternalLink>」 (一部シナリオ、プログラム)</li>
      </ul>
    </section>

    <section>
      <h3>サークル「びストレーター」様</h3>
      <ul>
          <li><a href="/works/external/mazoku-analysis-c100/">まちカドまぞく評論合同〜まちカドのお楽しみ〜</a> 寄稿(評論「那由多誰何の倫理学入門」)</li>
      </ul>
    </section>

    <section>
      <h3>サークル「早稲田大学負けヒロイン研究会」様</h3>
      <ul>
        <li><ExternalLink href="https://note.com/loseheroine_wsd/n/nf74ef45376af">Blue Lose Vol.3</ExternalLink> 寄稿(評論「日常系の物語構造とまんがタイムきららの10年代」)</li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  .work-cover {
    max-width: 200px;
  }
</style>
