---
import Layout from '../layouts/Layout.astro';
import ExternalLink from '../components/ExternalLink.astro';

import { series } from '../data';
import { isPublished } from '../lib/work'
---

<Layout title="作品一覧" description="作品の一覧ページ">
  <main>
    <h1>作品一覧</h1>
    { series.filter(series => Array.isArray(series.works)).map(series => <div>
      <h2>{ series.name }</h2>
      {series.description && <p>{series.description}</p>}
      {series.works!.map(work => <div>
        <p><a href={`./${work.id}/`}>{work.name}</a>{isPublished(work) ? ` (${work.publishDate!.replaceAll('-', '/')}発行)` : " (未発売)"}</p>
        { work.img && <p><a href={`./${work.id}/`}><img decoding="async" {...work.img} class="work-cover" /></a></p> }
      </div>)}
    </div>) }

    <h2>寄稿・制作協力</h2>

    <section>
      <h3>東京大学きらら同好会</h3>
      <ul>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/find-our-stars-1">#FindOurStars Vol.1</ExternalLink> 寄稿
            <ul>
              <li>評論「東大生猪瀬舞概念」（<ExternalLink href="https://yuyusuki.hatenablog.com/entry/2022/06/12/190000">全文</ExternalLink>）</li>
            </ul>
          </li>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/micare-1">Micare Vol.1</ExternalLink> 寄稿
            <ul>
              <li>評論「まちカドまぞく vs. ウクライナ語警察」（<ExternalLink href="https://yuyusuki.hatenablog.com/entry/2022/10/30/173000">全文</ExternalLink>）</li>
            </ul>
          </li>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/find-our-stars-2">#FindOurStars Vol.2</ExternalLink> 寄稿
            <ul>
              <li>『恋する小惑星』二次創作小説「ナナチカ探偵団と不可能な虹」（<ExternalLink href="https://www.pixiv.net/novel/show.php?id=18592237">全文</ExternalLink>）</li>
              <li>『恋する小惑星』二次創作小説「拝啓、海の向こうの空へ」（<ExternalLink href="https://www.pixiv.net/novel/show.php?id=16190901">全文</ExternalLink>）</li>
            </ul>
          </li>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/micare-2">Micare Vol.2</ExternalLink>寄稿
            <ul>
              <li>『初恋＊れ〜るとりっぷ』二次創作小説「初恋＊れ〜るみすてり」（<ExternalLink href="https://www.pixiv.net/novel/show.php?id=20387809">全文</ExternalLink>）</li>
              <li>『星屑テレパス』推薦文</li>
              <li>エッセイ「わたしときらら」</li>
            </ul>
          </li>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/musubutabaneru">結ぶ、束ねる。</ExternalLink> 寄稿
            <ul>
              <li>『ぼっち・ざ・ろっく！』二次創作小説「青春コンプレックス」</li>
            </ul>
          </li>
          <li><ExternalLink href="https://utkiraracircle.github.io/posts/micare-2-5">Micare 2.5</ExternalLink>寄稿
            <ul>
              <li>『紡ぐ乙女と大正の月』レビュー</li>
            </ul>
          </li>
          <li>「暴走アカデミズム」寄稿
            <ul>
              <li>『妄想アカデミズム』二次創作小説「まるで物語のような」</li>
            </ul>
          </li>
      </ul>
    </section>

    <section>
      <h3>東京大学ビジュアルノベル同好会</h3>
      <ul>
        <li>UT-ViNos vol.16 寄稿
          <ul>
            <li>評論「minoriのOPが回りすぎてヤバい。」</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>サークル「京都大学艦これ同好会」</h3>
      <ul>
        <li><ExternalLink href="https://twitter.com/kukancolle/status/1687844278150836225">提督たちの航海日誌 8</ExternalLink> 寄稿
          <ul>
            <li>「艦これ」二次創作小説「Гангутのヘルシンキさんぽ」</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>サークル「みやこそふと」</h3>
      <ul>
        <li>ノベルゲーム「<ExternalLink href="https://miyakosoft.com/products/thursdays_child/">電子カルテと木曜日</ExternalLink>」 (一部シナリオ、プログラム)</li>
      </ul>
    </section>

    <section>
      <h3>サークル「びストレーター」様</h3>
      <ul>
          <li><a href="/works/external/mazoku-analysis-c100/">まちカドまぞく評論合同〜まちカドのお楽しみ〜</a> 寄稿
            <ul>
              <li>評論「那由多誰何の倫理学入門」（<ExternalLink href="https://yuyusuki.hatenablog.com/entry/2023/08/17/183000">全文</ExternalLink>）</li>
            </ul>
          </li>
      </ul>
    </section>

    <section>
      <h3>サークル「早稲田大学負けヒロイン研究会」様</h3>
      <ul>
        <li><ExternalLink href="https://lose-heroine.booth.pm/items/4836882">Blue Lose Vol.3</ExternalLink> 寄稿
          <ul>
            <li>評論「日常系の物語構造とまんがタイムきららの10年代」</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>サークル「ブラインド」様</h3>
      <ul>
        <li><ExternalLink href="https://blin-d-s.booth.pm/items/5217409">ブラインド Vol.1</ExternalLink> 寄稿
          <ul><li><ExternalLink href="https://houbunsha.co.jp/comics/detail.php?p=%A4%DE%A4%C1%A5%AB%A5%C9%A4%DE%A4%BE%A4%AF%A5%A2%A5%F3%A5%BD%A5%ED%A5%B8%A1%BC%A5%B3%A5%DF%A5%C3%A5%AF">『まちカドまぞくアンソロジーコミック』1巻 </ExternalLink>レビュー</li></ul>
          <ul><li>評論「『まちカドまぞく』における対話の価値について」</li></ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>サークル「Async Voice」様</h3>
      <ul>
        <li><ExternalLink href="https://twitter.com/highland_sh/status/1719656095273377934">ボーカロイド文化の現在地</ExternalLink> 寄稿
          <ul><li>「プロセカ」評論「セカイとセカイをつなぐ」</li></ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>サークル「Rosen church」様</h3>
      <ul>
        <li><ExternalLink href="https://www.melonbooks.co.jp/detail/detail.php?product_id=2251178">唯だ、君と紡ぐ</ExternalLink> 寄稿
          <ul><li>つむつき評論「終わりに魅せられて」</li></ul>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  .work-cover {
    max-width: 200px;
  }
</style>
