---
import Layout from '../../layouts/Layout.astro';
import EventInfo from '../../components/EventInfo.astro';
import ExternalLink from '../../components/ExternalLink.astro';

import { events } from '../../data';
import { getEventData } from '../../lib/event';
const event = getEventData(Astro.url.pathname.split('/')[2]!, events);
---
<Layout title="COMITIA139" description="COMITIA139のイベント参加情報">
  <main>
    <EventInfo event={event}></EventInfo>
    <img src="/img/events/comitia139_oshinagaki.png" alt="新刊 ロシア語警察24時 vol. 1 人名エトセトラ 創作者のためのロシア人名講座 500円" width="606" height="808" class="oshinagaki" />

    <h2>頒布物</h2>
    <ul>
      <li><a href="/works/russian-police-1/">ロシア語警察24時 vol. 1 人名エトセトラ</a> (新刊)</li>
    </ul>

    <h2>通販その他</h2>
    <h3>ロシア語警察24時 vol. 1 人名エトセトラ</h3>
    <ul>
      <li><ExternalLink href="https://navostoke.booth.pm/items/3652492">通販(BOOTH)</ExternalLink></li>
      <li><ExternalLink href="https://navostoke.booth.pm/items/3652511">電子版(BOOTH)</ExternalLink></li>
    </ul>
  </main>
</Layout>

<style scoped>
  .oshinagaki {
    width: 400px;
    height: auto;
  }
</style>
